<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="voss.narrator" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />


    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
     IMPORTANT: Change "com.parse.starter" to match your app's package name.
   -->

    <permission android:protectionLevel="signature"
        android:name="voss.narrator.permission.C2D_MESSAGE" />
    <uses-permission android:name="voss.android.permission.C2D_MESSAGE" />

    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:name="android.ApplicationNarratorPreferences"
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="android.screens.ActivityHome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="android.NarratorService"
            android:label="NarratorService" >
        </service>

        <activity
            android:name="android.ActivitySettings"
            android:label="@string/app_name"
            android:parentActivityName="android.screens.ActivityHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.screens.ActivityHome" />
        </activity>
        <activity
            android:name="android.setup.ActivityCreateGame"
            android:label="@string/app_name"
            android:parentActivityName="android.screens.ActivityHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.screens.ActivityHome" />
        </activity>
        <activity
            android:name="android.ActivityTutorial"
            android:label="@string/app_name"
            android:parentActivityName="android.screens.ActivityHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.screens.ActivityHome" />
        </activity>
        <activity
            android:name="android.day.ActivityDay"
            android:label="@string/app_name"
            android:parentActivityName="android.screens.ActivityHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.screens.ActivityHome" />
        </activity>


        <receiver
            android:name="android.texting.ReceiverText"
            android:enabled="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest>